<!-- BEGIN TOP NAVIGATION MENU -->
<div class="page-header navbar navbar-fixed-top" style="border-top: 3px solid transparent;">
    <div class="page-header-inner ">
        <div class="page-logo">
            <a href="index.html">
                
            </a>
        </div>
        <div class="hor-menu hidden-sm hidden-xs">
            <ul class="nav navbar-nav">
                <li class="classic-menu-dropdown {{finance_active}}">
                    <a href="{{app_root}}/" target="main_frame"> Manage Payment
                        <span class="{{finance_menu}}"> </span>
                    </a>
                </li>
                {{!-- <li class="classic-menu-dropdown {{school_profile_active}}">
                    <a href="{{app_root}}/make-payment" target="main_frame"> Make Payment
                        <span class="{{school_profile_menu}}"> </span>
                    </a>
                </li>
                <li class="classic-menu-dropdown {{session_term_active}}">
                    <a href="{{app_root}}/session-term" target="main_frame"> Session/Term</a>
                    <span class="{{session_term_menu}}"> </span>
                </li> --}}   
            </ul>
        </div>
        <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
            <span></span>
        </a>
    </div>
</div>
<!-- END TOP NAVIGATION MENU -->

<!-- BEGIN PAGE HEADER-->
<!-- BEGIN PAGE BAR -->
<div class="page-bar" style="margin-top: 50px;border-radius: 0;">
    
</div>
<!-- END PAGE BAR -->