<!-- BEGIN TOP NAVIGATION MENU -->
<div class="page-header navbar navbar-fixed-top" id="submenu">
    <div class="page-header-inner ">
        <div class="page-logo" style="width:auto;">
            
        </div>
        <div class="hor-menu collapse navbar-collapse" id="burger">
            <ul class="nav navbar-nav">
                <li class="classic-menu-dropdown {{register_visitor_active}}">
                    <a href="{{app_root}}/"> Register Visitor
                        <span class="{{register_visitor_menu}}"> </span>
                    </a>
                </li>
                <li class="classic-menu-dropdown {{signout_visitor_active}}">
                    <a href="{{app_root}}/signout-visitor"> Sign out Visitor</a>
                    <span class="{{signout_visitor_menu}}"> </span>
                </li>   
            </ul>
        </div>
        <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target="#burger">
            <span></span>
        </a>
    </div>
</div>
<!-- END TOP NAVIGATION MENU -->

<!-- BEGIN PAGE HEADER-->
<!-- BEGIN PAGE BAR -->
<div class="page-bar">
    
</div>
<!-- END PAGE BAR -->