<!-- BEGIN TOP NAVIGATION MENU -->
<div class="page-header navbar navbar-fixed-top" style="border-top: 3px solid #36C6D3">
    <div class="page-header-inner ">
        <div class="page-logo">
            <a href="index.html">
                
            </a>
        </div>
        <div class="hor-menu hidden-sm hidden-xs">
            <ul class="nav navbar-nav">
                <li class="classic-menu-dropdown {{student_active}}">
                    <a href="{{app_root}}/" target="main_frame"> Home
                        <span class="{{student_menu}}"> </span>
                    </a>
                </li>
                <li class="classic-menu-dropdown {{register_student_active}}">
                    <a href="{{app_root}}/register-student" target="main_frame"> Register Student
                        <span class="{{register_student_menu}}"> </span>
                    </a>
                </li>
                <li class="classic-menu-dropdown {{view_students_active}}">
                    <a href="{{app_root}}/view-students" target="main_frame"> View Students Record</a>
                    <span class="{{view_students_menu}}"> </span>
                </li>   
            </ul>
        </div>
        <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
            <span></span>
        </a>
    </div>
</div>
<!-- END TOP NAVIGATION MENU -->

<!-- BEGIN PAGE HEADER-->
<!-- BEGIN PAGE BAR -->
<div class="page-bar" style="margin-top: 50px;border-radius: 0;">
    
</div>
<!-- END PAGE BAR -->