<!-- BEGIN TOP NAVIGATION MENU -->
<div class="page-header navbar navbar-fixed-top" id="submenu">
    <div class="page-header-inner ">
        <div class="page-logo" style="width:auto;">
            
        </div>
        <div class="hor-menu collapse navbar-collapse" id="burger">
            <ul class="nav navbar-nav">
                <li class="classic-menu-dropdown {{class_active}}">
                    <a href="{{app_root}}/"> Home
                        <span class="{{class_menu}}"> </span>
                    </a>
                </li>
                <li class="classic-menu-dropdown {{create_class_active}}">
                    <a href="{{app_root}}/create-class"> Create Class
                        <span class="{{create_class_menu}}"> </span>
                    </a>
                </li> 
                <li class="classic-menu-dropdown {{view_classes_active}}">
                    <a href="{{app_root}}/view-classes"> View Classes
                        <span class="{{view_classes_menu}}"> </span>
                    </a>
                </li>
            </ul>
        </div>
        <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target="#burger">
            <span></span>
        </a>
    </div>
</div>
<!-- END TOP NAVIGATION MENU -->

<!-- BEGIN PAGE HEADER-->
<!-- BEGIN PAGE BAR -->
<div class="page-bar">
    
</div>
<!-- END PAGE BAR -->