<!-- BEGIN TOP NAVIGATION MENU -->
<div class="page-header navbar navbar-fixed-top" id="submenu">
    <div class="page-header-inner ">
        <div class="page-logo" style="width:auto;">
            
        </div>
        <div class="hor-menu collapse navbar-collapse" id="burger">
            <ul class="nav navbar-nav">
                <li class="classic-menu-dropdown {{staff_active}}">
                    <a href="{{app_root}}/"> Home
                        <span class="{{staff_menu}}"> </span>
                    </a>
                </li>
                <li class="classic-menu-dropdown {{register_staff_active}}">
                    <a href="{{app_root}}/register-staff"> Register Staff
                        <span class="{{register_staff_menu}}"> </span>
                    </a>
                </li>
                <li class="classic-menu-dropdown {{view_staff_active}}">
                    <a href="{{app_root}}/view-staff"> View Staff Record</a>
                    <span class="{{view_staff_menu}}"> </span>
                </li>   
            </ul>
        </div>
        <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target="#burger">
            <span></span>
        </a>
    </div>
</div>
<!-- END TOP NAVIGATION MENU -->

<!-- BEGIN PAGE HEADER-->
<!-- BEGIN PAGE BAR -->
<div class="page-bar">
    
</div>
<!-- END PAGE BAR -->